*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: Helvetica;
}

nav{
    width: 100%;
    height: 15%;

    /* background-color: tomato; */
    background: linear-gradient(to right, #d3cce3, #e9e4f0); 

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>img:first-of-type{
    width: 70px;
    height: 70px;

    border-radius: 50%;
}

nav>img:first-of-type:hover{
    cursor: pointer;
}

nav input{
    font-size: 20px;

    border-radius: 5px;
    border: none;

    width: 250px;
    height: 30px;

    padding: 5px;
}

.middle-section{
    display: flex;
}

.middle-section h1{
    font-size: 20px;

    margin: 0 15px;
}

.middle-section h1:hover{
    cursor: pointer;
}

.middle-section select{
    margin: 0 15px;

    background: none;

    font-weight: 700;
    
    border: none;

    font-size: 20px;
}

nav option{
    font-size: 20px;
}

nav option:hover{
    cursor: pointer;
}

nav option:first-of-type{
    font-weight: bold;
}

.icon-section{
    display: flex;

}

.icon-section i{
    font-size: 30px;
    margin: 0 10px;

    color: black;
}

nav>img:nth-of-type(2){
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

nav>img:nth-of-type(2):hover{
    cursor: pointer;
}

/*  */

.container{
    width: 100%;
    height: 85%;

    /* background-color: yellow; */

    display: flex;
}

.box-1{
    width: 20%;
    height: 100%;

    /* background-color: blue; */
    background: linear-gradient(to right, #c3cadc, #d7dde8);
}

.section{
    display: flex;
    flex-direction: column;
}

.section h1{
    font-size: 30px;
    margin: 10px;
}

.section div{
    margin: 5px 20px;
}

.section input{
    margin: 0 10px;
}

.box-2{
    width: 80%;
    height: 100%;

    /* background-color: green; */
    background: linear-gradient(to right, #e9ecee, #edf8ff);

    padding: 20px 30px;
}

.box-2 h1{
    font-size: 30px;
    font-weight: 500;
}

.sort{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
    background: linear-gradient(to right, #e0eafc, #cfdef3);

    margin-top: 15px;

    border-radius: 20px;
}

.sort h3{
    font-size: 30px;

    margin: 10px 20px;
}

.sort button{
    font-size: 20px;

    width: 150px;
    height: 30px;

    padding: 0px;
    margin: 0 10px;

    border-radius: 10px;
    border: none;
}

.sort button:first-of-type{
    color: white;
    background-color: black;
}

/*  */


.shoes{
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 2px solid black; */

    width: 100%;
    height: 40%;

    margin: 15px 0;

    display: flex;
    justify-content: space-around;
}

.shoes div:nth-child(1){
    font-weight: 700;
}

.shoes div:nth-child(3){
    color: blue;
}

.shoes figure{
    width: 240px;
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5px;

    border: 3px solid #e9ecee;


    padding: 10px;

    position: relative;

    
}

.shoes img{
    height: 130px;
    width: 130px;

    object-position: center;

    border-radius: 30px;

    box-shadow: 0 0 3px black;
}

.shoes img:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 1s;
}

.shoes .icon-1{
    font-size: 20px;

    position: absolute;
    top: 1%;
    right: 1%;
}

.shoes .icon-2{
    font-size: 20px;

    color: gold;
}

i:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}
